<div class="project-card">
    <a href="/game-projects/#">
        <img src="/game-projects/#/assets/thumbnail.png" alt="#-thumbnail">
        <div class="card-text">
            <h1 class="text-header">
                #
            </h1>
            <ul>
                <li class="text-subhead tag">#genre</li>
                <li class="text-subhead tag">#role</li>
                <li class="text-subhead tag">#time</li>
                <li class="text-subhead tag">#engine</li>
            </ul>
            <p>
                #
            </p>
        </div>
    </a>
</div>