.box{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.box .filler
{
    background-color: var(--light-color);
    flex-grow: 1;
    flex-shrink: 1;
}

.error404 .text-title{
    margin-top: 200px;
    color: var(--main-color-dark);
}
.error404 .text-header{
    color: var(--dark-color);
}
.error404 .text-subhead{
    margin-top: 30px;
    margin-bottom: 100px;
}