/* Update Navbar color to indicate the current page */
.navbar .main-menu ul li:nth-child(3) a:not(:hover)
{
    color: var(--highlight);
}

.about .container-s{
    max-width: 1000px;
}

.about .main-about{
    display: flex;
    width: 100%;
    flex-shrink: 1;
}
.about .main-about img{
    max-width: 450px;
    max-height: 450px;
    aspect-ratio: 1 / 1;
    margin: 20px 40px;
    flex-shrink: 1;
    object-fit: contain;
}
.about .main-about h2:first-child{
    margin-top: 20px;
}
.about p{
    margin: 15px 0 10px;
}
.about strong{
    font-weight: 400;
    color: var(--main-color-dark);
}

@media (max-width: 1015px) 
{
    .about .container-s{
        padding: 0 40px;
    }
    .about .main-about{
        flex-direction: column;
        align-items: center;
    }
    .about .main-about img{
        max-width: 100%;
        
    }
    .about .main-about .text-subhead{
        text-align: center;
    }
}