/* Update Navbar color to indicate the current page */
.navbar .main-menu ul li:nth-child(3) a:not(:hover)
{
    color: var(--highlight);
}

.about .container-s{
    max-width: 1000px;
}

.about .main-about{
    display: flex;
}
.about .main-about img{
    max-width: 450px;
    max-width: 450px;
    border-radius: var(--standard-border-radius);
    aspect-ratio: 1 / 1;
    margin: 20px 40px;
}
.about .main-about h2:first-child{
    margin-top: 20px;
}
.about p{
    margin: 15px 0 10px;
}
.about strong{
    font-weight: 400;
    color: var(--main-color-dark);
}