.footer{
    background-color: var(--dark-color);
    color: var(--light-color);
    padding-bottom: 30px;
    padding-top: 15px;
    border-radius: var(--standard-border-radius) var(--standard-border-radius) 0 0;
    margin-top: 30px;
    width: 100%;
}
.footer .container-s{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .footer-grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr) 2fr;
    align-items: flex-end;
    gap: 20px;
}
.footer .center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .logo{
    width: 140px;
    height: 140px;
}
.footer h2{
    padding-left: 15px;
}
.footer h4{
    font-weight: 400;
    font-size: var(--text-m);
    margin-bottom: 5px;
}
.footer a{
    color: var(--light-color);
}
.footer .footer-grid ul li a
{
    text-decoration: underline;
}
.footer .footer-grid ul li i{
    margin-right: 10px;
}
.footer .footer-grid ul li p{
    margin-top: 5px;
}
.footer .large-icon{
    font-size: 32pt;
}

@media  (max-width: 890px) 
{
    .footer{
        text-align: center;
    }
    .footer .footer-grid{
        grid-template-columns: 100%;
        text-align: center;
    }
    .footer .footer-grid div{
        margin: 5px 0;
    }
    .footer .footer-grid ul li p{
        min-width: 0;
    }
    .footer .footer-grid div:last-child ul li{
        display: inline-block;
    }
    .footer .footer-grid div:last-child ul li:last-child
    {
        display: block;
    }
}