.footer-a
{
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 15px 0;
    border-radius: var(--standard-border-radius) var(--standard-border-radius) 0 0;
    margin-top: 30px;
}
.footer-a .container-s{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.footer-a .socials ul{
    display: flex;

}
.footer-a i
{
    font-size: var(--text-m);
    color: var(--light-color);
}

@media (max-width: 890px) 
{   
    .footer-a .container-s{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}