.footer
{
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 15px 0;
    border-radius: 10px 10px 0 0;
    margin-top: 30px;
}
.footer .container-s{
    display: flex;
    justify-content: space-between;
}
.footer .socials ul{
    display: flex;

}
.footer i
{
    font-size: 24pt;
    color: var(--light-color);
}