.footer{
    background-color: var(--dark-color);
    color: var(--light-color);
    padding-bottom: 30px;
    padding-top: 15px;
    border-radius: 10px 10px 0 0;
    margin-top: 30px;
}
.footer .container-s{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .footer-grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
}
.footer .center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .logo img{
    width: 140px;
    height: 140px;
}
.footer h2{
    padding-left: 15px;
}
.footer h4{
    font-weight: 400;
    margin-bottom: 5px;
}
.footer a{
    color: var(--light-color);
}
.footer .footer-grid ul li a
{
    text-decoration: underline;
}
.footer .footer-grid ul li i{
    margin-right: 10px;
}
.footer .footer-grid ul li p{
    margin-top: 5px;
    min-width: 410px;
}
.footer .large-icon{
    font-size: 32pt;
}