.navbar .main-menu ul li:nth-child(2) > div > a
{
    color: var(--highlight);
}

.game-projects{
    margin-top: var(--page-top-margin);
    margin-bottom: var(--page-bottom-margin);
}

.game-projects .container > .text-header{
    margin-bottom: 0px;
}

.game-projects .navigation-buttons{
    margin: 30px 0 10px;
    display:  flex;
    gap: 50px;
}

.game-projects .project-categories > li
{
    margin: 50px 0;
}
.game-projects .project-categories > li > .text-header{
    margin: 10px 0 15px;
}
.game-projects .project-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}