/* Update Navbar color to indicate the current page */
.navbar .main-menu ul li:nth-child(1) a{
    color: var(--highlight);
}

/* Title */
.title{
    background-color: var(--dark-color);
    color: var(--light-color);
    text-align: center;
    height: 100vh;
}
.title .center-absolute{
    left: 50%;
    transform: translate(-50%, 0);
}
.title .background{
    position: absolute;
    top: 0;
    aspect-ratio: 16 / 9;
    height: 100%;
    overflow: hidden;
}
.title .background iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(2px);
}
.title .background .video-overlay{
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}
.title .background .end-bleed{
    background-color: var(--light-color);
    mask-image: linear-gradient(transparent, black);
    height: 50px;
    width: 100%;
    z-index: 7;
    bottom: 0;
    position: absolute;
}
.title .title-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    position: relative;
    height: 100%;
    justify-content: space-between;
}
.title .title-content .text-title{
    margin-bottom: 0px;
    margin-top: 100px;
}
.title .title-content .text-subhead{
    margin-top: 5px;
}
.title .title-content .drop-shadow{
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
}
.title .title-content ul{
    margin-bottom: 100px;
}
.title .title-content ul li{
    margin: 15px 0;
}
.title .title-content a{
    color: var(--light-color);
}
.title .title-content a.text-button:hover{
    filter: drop-shadow(0 0 15px var(--main-color-dark));
}

/* Featured Projects */

/* Contact */