@import "https://unpkg.com/semantic-props@beta";

/* Custom Variables*/
:root{
    /* TODO : Setup Colors*/
    --dark-color: #1D1D1D;
    --light-color: #F8F8F8;
    --main-color-dark: #7B45C8;
    --main-color-light: #D1B2FF;
    --highlight: #FFFAB9;
    --page-top-header: 100px;
}

/* Default Styles*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 16pt;
    line-height: 1.5em;
    color: var(--dark-color);
    background-color: var(--light-color);
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--main-color-dark);
}


/* Utilities */
.container-l{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 40px;
}
.container{
    max-width: 80%;
    margin: 0 auto;
    padding: 0 30px;
}
.container-s{
    max-width: 70%;
    margin: 0 auto;
    padding: 0 15px;
}

.text-title
{
    font-size: 96pt;
    line-height: 1em;
    font-weight: 600;
    margin: 50px 0 25px 0;
    font-family: 'Fira Code', sans-serif
}
.text-header
{
    font-size: 48pt;
    line-height: 1.2em;
    font-weight: 600;
    margin: 40px 0 20px 0;
    color: var(--main-color-dark);
    font-family: 'Fira Code', sans-serif
}
.text-subhead
{
    font-size: 30pt;
    line-height: 1.2em;
    font-weight: 400;
    margin: 20px 0 12px 0;
    font-family: 'Fira Code', sans-serif
}
.text-default{
    font-family: 'Fira Sans', sans-serif;
    font-size: 16pt;
    line-height: 1.5em;
    color: var(--dark-color);
}
.text-button{
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}
a.text-button:hover{
    color: var(--main-color-light);
    filter: drop-shadow(0 0 15px var(--main-color-dark));
}

.logo img
{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.project-card{
    width: 700px;
    height: 300px;
    flex-shrink: 1;
}
.project-card a{
    width: 100%;
    height: 100%;
    color: var(--light-color);
    display: flex;
    align-items: center;
    transition: 0.1s;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid var(--dark-color);
    background-color: var(--dark-color);
}
.project-card a:hover{
    /* transform: scale(1.02, 1.02); */
    transform: var(--large-scale);
}
.project-card img{
    height: 100%;
}
.project-card .card-text{
    padding: 30px;
    height: 100%;
    text-align: center;
}
.project-card .text-header{
    font-size: 24pt;
    margin: auto;
    transition: 0.1s;
    color: var(--light-color);
}
.project-card a:hover .text-header{
    color: var(--main-color-light);
    filter: drop-shadow(0 0 15px var(--main-color-dark));
}
.project-card .text-subhead{
    font-size: 16pt;
}
.project-card p{
    font-size: 12pt;
    text-align: left;
    line-height: 1.5em;
    font-weight: 300;
}
.abv-card .project-card{
    width: 300px;
}
.abv-card .project-card img{
    height: 80%;
}
.abv-card .project-card a{
    flex-direction: column;
}
.abv-card .project-card .card-text
{
    padding: 10px;
}
.abv-card .project-card p{
    display: none;
}
.abv-card .project-card h2{
    display: none;
}

.button{
    display: inline-block;
    padding: 20px 75px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: 24pt;
    text-align: center;
    transition: 0.3s;
}
.button span{
    transition: 0.3s;
}
a.button:hover,button.button:hover{
    color: var(--main-color-light);
    
}
a.button:hover span{
    filter: drop-shadow(0 0 15px var(--main-color-dark));
}
button.button:hover span
{
    filter: drop-shadow(0 0 15px var(--main-color-dark));
}