.game-projects .navigation-buttons{
    gap: 0px;
}
.game-projects .navigation-buttons .button
{
    margin: 10px;
}

.game-projects .navigation-buttons.years
{
    margin: 5px 0;
}
.game-projects .navigation-buttons.years a
{
    font-size: var(--text-m);
    min-width: 150px;
}