:root{
    --section-spacing: 30px;
}

.project section{
    margin: var(--section-spacing);
}

.project .container-s{
    width: 70%;
}

.project .title{
    text-align: center;
    width: 100%;
}
.project .title .text-header{
    margin-bottom: 0px;
}
.project .title .text-subhead{
    max-width: 900px;
    margin-top: 0px;
    margin-bottom: var(--section-spacing);
}
.project .title .fill-img{
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: var(--standard-border-radius);
}

.project .info .info-grid{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 5px 1fr 5px 1fr;
}
.project .info .info-grid .divider{
    width: 100%;
    height: 120%;
    position: relative;
    bottom: 10%;
    background-color: var(--dark-color);
    margin: auto 0;
}
.project .info .info-grid .text-subhead{
    margin: auto;
}
.project .info .info-grid .text-subhead i
{
    margin-right: 10px;
}
.project .info .text-subhead{
    margin-top: 30px;
}
.project .info ul{
    text-align: center;
}

.project .description{
    margin-top: 0;
}
.project .description p{
    margin: 15px;
}
.project strong{
    font-weight: var(--weight-semibold);
    color: var(--main-color-dark);
}

.project .contributions{
    text-align: left;
}
.project .contributions h2{
    text-align: center;
}
.project .contributions ul{
    list-style: inside;
    width: 100%;
    margin: 0 15px;
}

.project .free{
    display: flex;
    flex-direction: column;
    align-items: center;
}