:root{
    --section-spacing: 30px;
}

.project section{
    margin: var(--section-spacing);
}

.project .container-s{
    width: 70%;
}

.project .row-flex{
    flex-direction: row;
    justify-content: center;
}

.project .title{
    text-align: center;
    width: 100%;
}
.project .title .text-header{
    margin-bottom: 0px;
}
.project .title .text-subhead{
    margin-top: 0px;
    margin-bottom: var(--section-spacing);
}
.project .fill-img{
    width: 100%;
    /* aspect-ratio: 16 / 9; */
    background-color: var(--dark-color);
    border-radius: var(--standard-border-radius);
}
.project .title iframe.fill-img
{
    aspect-ratio: 16 / 9;
}

.project .info .info-grid{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 5px 1.5fr 5px 1fr;
}
.project .info .info-grid .divider{
    width: 100%;
    height: 120%;
    position: relative;
    bottom: 10%;
    background-color: var(--dark-color);
    margin: auto 0;
}
.project .info .info-grid .text-subhead{
    margin: auto;
}
.project .info .info-grid .text-subhead i
{
    margin-right: 10px;
}
.project .info .text-subhead{
    margin-top: 30px;
}
.project .info{
    text-align: center;
}
.project > .button{
    margin: 0;
}

.project .container-p{
    max-width: 1000px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}
.project .slideshow{
    max-width: 900px;
    margin: 20px 0;
}
.project .description{
    margin-top: 0;
}
.project .description p{
    margin: 15px 0;
}
.project strong{
    font-weight: var(--weight-semibold);
    color: var(--main-color-dark);
}

.project .contributions{
    text-align: left;
}
.project .contributions h2{
    text-align: center;
}
.project .contributions ul{
    list-style: inside;
    width: 100%;
}
.project .contributions ul li
{
    padding-left: 1.4em;
    text-indent: -1.4em;
}

.project .free{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.project .free .img1x1{
    max-width: 700px;
    max-height: 700px;
    width: 100%;
}

@media (max-width: 1330px) 
{
    .project .info .info-grid .text-subhead i
    {
        display: block;
        margin: 0 auto;
    }
}