.project .free .vid-grid{
    display: grid;
    grid-template-columns: calc(67% - 30px) 33%;
    grid-template-rows: 100%;
    gap: 30px;
    width: 100%;
    max-height: 700px;

}
.project .free .vid-grid img{
    height: 100%;
    max-width: 100%;
    aspect-ratio: 4 / 3;
}
.project .free .vid-grid iframe
{
    height: 100%;
    max-width: 100%;
}

@media (max-width: 920px) {
    .project .free .vid-grid
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        max-height: none;
    }
    .project .free .vid-grid iframe
    {
        height: auto;
    }
    .project .free .vid-grid img
    {
        height: auto;
    }
}