.project .content-grid img{
    width: 100%;
    margin: 20px;
}
@media (max-width: 920px) {
    .project .row-flex{
        flex-direction: column;
    }
    .project img
    {
        width: 100%;
    }
}